<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net461" />
  <package id="IntelliFactory.Reactive" version="3.6.9.70" targetFramework="net461" />
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="net461" />
  <package id="TweetinviAPI" version="1.1.1" targetFramework="net461" />
  <package id="WebSharper" version="3.6.18.241" targetFramework="net461" />
  <package id="WebSharper.Formlets" version="3.6.10.78" targetFramework="net461" />
  <package id="WebSharper.Html" version="3.6.10.22" targetFramework="net461" />
  <package id="WebSharper.Piglets" version="3.6.9.274" targetFramework="net461" />
</packages>