<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.2" targetFramework="net471" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net471" />
  <package id="IntelliFactory.Xml" version="0.6.64.1" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net471" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net471" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net471" />
  <package id="NitoAsyncEx.Context.StrongName" version="1.1.0" targetFramework="net461" />
  <package id="PCLWebUtility" version="1.0.3" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" />
  <package id="System.Reflection.TypeExtensions" version="4.5.1" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
  <package id="TweetinviAPI" version="4.0.1" targetFramework="net471" />
  <package id="WebSharper" version="4.5.14.339" targetFramework="net471" />
  <package id="WebSharper.FSharp" version="4.5.14.339" targetFramework="net471" />
  <package id="WebSharper.UI.Next" version="4.5.0.207" targetFramework="net471" />
</packages>